.container__content__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.container__content__contact__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  border: 1px solid black;
  padding: 10px;
  width: 100%;
}

.container__content__contact__info__field {
  width: 100%;
  padding: 1rem;
}
