.container__content__admin_members {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.container__content__admin_members__add_btn {
  font-size: 16px;
  padding: 0.3rem;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  max-width: 200px;
}

.container__content__admin_members__member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  border: 1px solid black;
  padding: 1rem;
  width: 100%;
  gap: 0.4rem;
}

.container__content__admin_members__member__actions {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
}

.container__content__admin_members__member__actions__edit {
  font-size: 16px;
  padding: 0.3rem;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.container__content__admin_members__member__actions__delete {
  font-size: 16px;
  padding: 0.3rem;
  background-color: #dc3545;
  color: white;
  border: none;
  cursor: pointer;
}

.container__content__admin_members__member__name {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.container__content__admin_members__member__team {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
